# Python
__pycache__/
*.py[cod]
*.so

# Build/packaging
*.egg-info/
dist/
build/

# Environment
.env
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp

# uv
.python-version

# Testing
.pytest_cache/
.coverage
htmlcov/
tests/cassettes/*.yaml
!tests/cassettes/.gitkeep